.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo .MuiButton-root.MuiButton-variantSolid.MuiButton-colorPrimary{
  background-color: #646cffaa;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.input-wrapper {
  position: relative;
  margin: 20px 0;
}

.custom-input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #3498db;
  background-color: #f7f7f7;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s;
  outline: none;
}

.custom-input::placeholder {
  color: #999;
}

.custom-input:focus {
  border-color: #e74c3c;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/* Optional: Add a label for the input */
.custom-label {
  position: absolute;
  top: -20px;
  left: 0;
  color: #3498db;
  font-size: 14px;
  transition: top 0.3s, font-size 0.3s;
}

.custom-input:focus ~ .custom-label,
.custom-input:not(:placeholder-shown) ~ .custom-label {
  top: -40px;
  font-size: 12px;
}

.container{
  height: 97vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.text-center{
  text-align: center;
}